body {
    background-color: lightsteelblue;
}

h1 {
    font-family: monospace;
    text-shadow: 2px 2px rgb(129, 152, 184);
}

h2 {
    font-family: monospace;
}

h3 {
    font-family: monospace;
}

p {
    color:ghostwhite;
}

li {
    color:ghostwhite;
}