body {
    background-color: lightsteelblue;
}

h1 {
    font-family: monospace;
    text-shadow: 2px 2px rgb(129, 152, 184);
}

h2 {
    font-family: monospace;
    color:rgb(77, 99, 129);
}

h3 {
    font-family: monospace;
    color:rgb(77, 99, 129);
}

img {
float: right;
width: 200px;
height: 160px;
border-radius: 10px;
border-width: 4px;
border-style: solid;
border-color: rgb(77, 99, 129);
}

p {
    color:ghostwhite;
    font-family: monospace;
}

li {
    color:ghostwhite;
    font-family: monospace;
}

hr {
    color: ghostwhite;
}